@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,700&display=swap");
/*Reseteo de estilos*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

ul {
  list-style: none; }

img {
  width: 100%; }

/*Estilos footer*/
ul {
  list-style: none; }

footer {
  border-top: 2px solid #000;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap; }
  footer .box__footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%; }
    footer .box__footer__redes__contacto {
      flex-direction: column;
      text-decoration: underline;
      margin-bottom: 1rem; }
    footer .box__footer__redes__icono {
      width: 18px; }
    footer .box__footer__mapa {
      display: flex;
      width: 400px;
      height: 100%;
      justify-content: left; }
  footer .parrafo {
    font-size: 1rem;
    background-color: #000;
    width: 100%;
    color: #fff;
    text-align: center; }

header {
  display: flex;
  flex-wrap: wrap; }
  header nav {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    height: auto;
    margin-top: 2rem;
    align-items: end;
    justify-content: end; }
    header nav .navbar {
      list-style: none;
      justify-content: end; }
      header nav .navbar__item {
        font-size: 2rem; }
        header nav .navbar__item__link {
          text-decoration: none;
          color: black;
          padding: 15px 20px; }
      header nav .navbar__item:hover {
        background-color: #5e9188; }

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center; } }

main {
  display: flex;
  flex-wrap: wrap; }
  main .banner {
    display: flex;
    flex-wrap: wrap; }
    main .banner__bempresa {
      width: 100%;
      height: 315px; }

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  section .mapa {
    width: 700px;
    height: 350px;
    padding: 3rem; }
  section .formulario {
    font-family: 'Roboto', sans-serif;
    font-size: large;
    padding: 3rem; }
  section .btn-verde {
    background-color: #5e9188;
    color: black; }

main {
  display: flex;
  flex-wrap: wrap; }
  main .banner {
    display: flex;
    flex-wrap: wrap; }
    main .banner__bempresa {
      width: 100%;
      height: 315px; }

section {
  display: flex;
  flex-wrap: wrap; }
  section .tituloe {
    font-family: 'Roboto', sans-serif;
    text-decoration: underline; }
  section .parrafoe {
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    font-size: large;
    font-style: normal; }

/*MEDIA QUERY*/
/* Estilos Small */
/* Estilos Medium) */
/* Estilos Large  */
/* Estilos Extra Large */
main {
  display: flex;
  flex-wrap: wrap; }
  main .banner {
    display: flex;
    flex-wrap: wrap; }
    main .banner__bempresa {
      width: 100%;
      height: 315px; }

section {
  display: flex;
  flex-wrap: wrap; }
  section .container {
    width: 100%;
    display: flex; }
    section .container .card {
      width: 100%;
      margin: 20px;
      border-radius: 6px;
      overflow: hidden;
      background-color: #fff;
      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
      transition: all 400ms ease; }
    section .container .card:hover {
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
      transform: translateY(-3%);
      background-color: #5e9188; }
    section .container .card img {
      width: 100%;
      height: 450px; }
    section .container .contenido {
      padding: 15px;
      text-align: center; }

/*MEDIA QUERY*/
@media screen and (max-width: 575.98px) {
  .container {
    display: flex;
    flex-direction: column; } }

@media screen and (min-width: 576px) and (max-width: 767.98px) {
  .container {
    display: flex;
    flex-direction: column; } }

@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .container {
    display: flex;
    flex-direction: column; } }

@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  .container {
    display: flex;
    flex-direction: row; } }

@media screen and (min-width: 1200px) {
  .container {
    display: flex;
    flex-direction: row; } }

main {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }

#carouselExampleInterval {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto; }

section {
  display: flex;
  flex-wrap: wrap; }
  section .img {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%; }
    section .img__trabajador {
      width: 70%; }
      section .img__trabajador__texto {
        color: #5e9188;
        font-size: xx-large;
        font-family: 'Roboto', sans-serif;
        text-decoration: solid; }
  section .logos__marcas {
    align-items: center;
    justify-content: space-around; }
    section .logos__marcas__imagen {
      width: 24%; }

/*MEDIA QUERY*/
@media (max-width: 575.98px) {
  .logos__marcas {
    display: flex;
    flex-direction: column; } }

/* Estilos Small */
@media (min-width: 576px) and (max-width: 767.98px) {
  .logos__marcas {
    display: flex;
    flex-direction: column; } }

/* Estilos Medium) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .logos__marcas {
    display: flex;
    flex-direction: column; } }

/* Estilos Large  */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .logos__marcas {
    display: flex;
    flex-direction: row; } }

/* Estilos Extra Large */
@media (min-width: 1200px) {
  .logos__marcas {
    display: flex;
    flex-direction: row; } }

/*MEDIA QUERY*/
/* Estilos Small */
/* Estilos Medium) */
/* Estilos Large  */
/* Estilos Extra Large */
main {
  display: flex;
  flex-wrap: wrap; }
  main .banner {
    display: flex;
    flex-wrap: wrap; }
    main .banner__bempresa {
      width: 100%;
      height: 315px; }

section {
  display: flex;
  flex-wrap: wrap; }
  section .container {
    width: 100%;
    display: flex; }
    section .container .card {
      width: 100%;
      margin: 20px;
      border-radius: 6px;
      overflow: hidden;
      background-color: #fff;
      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
      transition: all 400ms ease; }
    section .container .card:hover {
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
      transform: translateY(-3%);
      background-color: #5e9188; }
    section .container .card img {
      width: 100%;
      height: 320px; }
    section .container .contenido {
      padding: 15px;
      text-align: center; }

/*MEDIA QUERY*/
@media screen and (max-width: 575.98px) {
  .container {
    display: flex;
    flex-direction: column; } }

@media screen and (min-width: 576px) and (max-width: 767.98px) {
  .container {
    display: flex;
    flex-direction: column; } }

@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .container {
    display: flex;
    flex-direction: column; } }

@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  .container {
    display: flex;
    flex-direction: row; } }

@media screen and (min-width: 1200px) {
  .container {
    display: flex;
    flex-direction: row; } }

main {
  display: flex;
  flex-wrap: wrap; }
  main .banner {
    width: 100%;
    height: 315px; }

/*MEDIA QUERY*/
/* Estilos Small */
/* Estilos Medium) */
/* Estilos Large  */
/* Estilos Extra Large */
