@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,700&display=swap');
/*Reseteo de estilos*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
ul{
    list-style: none;
}
@import"./layout/footer";
@import"./layout/header";
@import"./view/contacto";
@import"./view/empresa";
@import"./view/guantes";
@import"./view/index";
@import"./view/industria";
@import"./view/productos";
