/*MEDIA QUERY*/
@mixin xs {
   @media screen and (max-width: 575.98px){
    .container {
    display: flex;
    flex-direction: column;
   }
}
}

  /* Estilos Small */
  @mixin small{
    @media screen and (min-width: 576px) and (max-width: 767.98px) {
        .container {
        display: flex;
        flex-direction: column;
    }
}
    }
  
  /* Estilos Medium) */
  @mixin medium {
    @media screen and (min-width: 768px) and (max-width: 991.98px) {
        .container {
        display: flex;
        flex-direction: column;
    }
}
    }
 
  /* Estilos Large  */
  @mixin large{
    @media screen and (min-width: 992px) and (max-width: 1199.98px) {
        .container {
        display: flex;
        flex-direction: row;
    }
}
    }

  
  /* Estilos Extra Large */
  @mixin xlarge{
    @media screen and (min-width: 1200px)  {
        .container {
        display: flex;
        flex-direction: row;
    }
}
    }

 