/*Estilos footer*/
ul{ 
    list-style: none;
}
footer {
    border-top: 2px solid #000;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: #000;
    color: #fff;
   
    
    .box__footer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        &__redes{
            &__contacto{
                flex-direction: column; 
                text-decoration: underline;
                margin-bottom: 1rem;
                color: #fdca00;

            }
            &__icono{
                width: 18px;
           
            }

        }
    &__mapa{
        display: flex;
        width: 400px;
        height: 100%;
        justify-content:left;

    }
    }
    .parrafo{
        font-size: 1rem;
        background-color: #000;
        width: 100%;
        color: #fff;
        text-align: center;

    }
  
}
