header{
    display: flex;
    flex-wrap: wrap;
    nav{
        display: flex;
        flex-wrap: wrap;
        margin: auto;
         height: auto;
        margin-top: 2rem;
        align-items: end;
        justify-content: end;
        .navbar{
            list-style: none;
            justify-content: end;
       
        &__item{
           font-size: 2rem;
           &__link{
            text-decoration: none;
            color: black;
            padding: 15px 20px;
           }
        }&__item:hover{
            background-color: #fdca00;
        }
      }  
  
    }
}

@media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: center; 
    }
}  