@import"../variables/mixin";
main{
    display: flex;
    flex-wrap: wrap;
    .banner{
        display: flex;
        flex-wrap: wrap;
        &__bempresa{
            width: 100%;
            height: 315px;
        }
    }
}

.sectioncontacto{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    text-align:center;
    padding: 10rem;
    width: 95%;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    background-color: #fdca00;
   
    .formulario{
        font-family:'Roboto', sans-serif;
        font-size: large;
        padding: 3rem;
        .contactotitulo{
        text-decoration: underline;
    }
    

    }
    
    .btn-verde {
        background-color:  #fff;
        color:black;
        border: 2px solid #000;
    }
    .recuadro{
       padding: 10px;
       margin-bottom: 15px;
       border: 2px solid #000;
    border-radius: 5px;
    }
    .recuadrotexarea{
        border: 2px solid #fdca00;

    }
}

/*MEDIA QUERY*/
@include xs;
@include small;
@include medium;
@include large;
@include xlarge;

