main{
    display: flex;
    flex-wrap: wrap;
    .banner{
        display: flex;
        flex-wrap: wrap;
        &__bempresa{
            width: 100%;
            height: 315px;
        }
    }
}
.sectionempresa{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    text-align:center;
    padding: 10rem;
    width: 95%;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    background-color: #fdca00;
    .tituloe{
        font-family:'Roboto', sans-serif;
        text-decoration: underline;
    }
    .parrafoe{
        font-family:'Roboto', sans-serif;
        font-size: large;
        font-style: normal;
        text-align:center;
    }
}
